<div class="ae-to-chat header" data-token-id="{{speaker.token}}" data-scene-id="{{speaker.scene}}">
    <h3>
        {{localize "AE_TO_CHAT.ChatCard.Title"}}
    </h3>
    {{#if subtitle}}
    <h4>
        {{subtitle}}
    </h4>
    {{/if}}
</div>
<div class="ae-to-chat content" data-token-id="{{speaker.token}}">
    <ul class="chat-message effect-list">
        {{#each effects as |effect key|}}
        <li class="flexrow" id="effect-{{@index}}" data-effect-uuid="{{effect.document.uuid}}">
            <div class="effect-icon">
                <img src="{{effect.icon}}" class="effect-icon chat-message" title="{{effect.label}}" alt="{{effect.label}}">
            </div>
            <div class="effect-name" style="flex: 2; margin: 3px 0px 0px 0px" height="20px">
                {{effect.label}}
            </div>
            {{#if ../settings.disable}}
            <div class="disable-row">
                <a name="disable-row" title="{{localize "AE_TO_CHAT.ChatCard.Buttons.Disable"}}"><i class="fas fa-user-slash"></i></a>
            </div>
            {{/if}}
            {{#if ../settings.showinfo}}
            <div class="showinfo-row">
                <a name="showinfo-row" title="{{localize "AE_TO_CHAT.ChatCard.Buttons.ShowInfo"}}"><i class="fas fa-edit"></i></a>
            </div>
            {{/if}}
            {{#if ../settings.delete}}
            <div class="delete-row">
                <a name="delete-row" title="{{localize "AE_TO_CHAT.ChatCard.Buttons.Delete"}}"><i class="fas fa-trash"></i></a>
            </div>
            {{/if}}
        </li>
        {{/each}}
    </ul>
</div>